
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


body::after{
    display:rgb(220, 136, 62);
    content: '';
    height: 60px;
}


@media(min-width:768px){
    .news-input{
        width: 50%;
    }
}
#learn1{
    background-color: #18bbf1;
}
.menu{
    width: 100;
    float: left;
    padding-left: 10px;
    
}
<style>
	nav {
		background-color: #fcf8f8;
		overflow: right;
	}
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: right;
		background-color: #0ccdf8d5;
	}
	nav li {
		float: right;
		border-right: 1px solid #f8f5f5;
	}
	nav li:last-child {
		border-right: forestgreen;
	}
	nav li a {
		display: block;
		color: hsla(0, 26%, 93%, 0.966);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	nav li a:hover:not(.active) {
		background-color: #111;
	}
	.active {
		background-color: #4CAF50;
    }
	.menudropdown{
		width: 10;
		padding: 140px;
	}

    .nav li:last-child {
	border-right: forestgreen;
	}
	.nav li a {
		display: block;
		color: hsla(0, 26%, 93%, 0.966);
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	*{
		margin: 0;
		padding: 0;
		background-origin: padding-box;;
	}
	.service{
		font-family: 'Times New Roman', Times, serif;
		text-align: center;
	}
